@media (max-width: 225px){
    .container-1, .resultado-final{
        font: 1.1em 'Yantramanav', sans-serif;
    }
}
.container-1{
    display:flex;
    font: 1.5em 'Yantramanav', sans-serif;
    font-weight:200;
    align-self: start;
    padding-top:2em;
    padding-left: 1em;
    padding-right: 1em;
}
.container-1 div:not(.box-2){
    margin: 5px;
    border:1px #fff solid; 
}
.cerebro{
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    border-radius: 5px;
    margin: 20px 20px 0px 20px;
    background: white;
}
.box-1{
    flex:1;
    order:1;
    display:inline-block;
    text-align: end;
}
.box-2{
    flex:none;
    order:2;
    border: 1px solid;   
    min-height:4em;
}
.box-3{
    order:3;
    flex:1;
}
.labelInputNumber{
    font: .6em 'Yantramanav', sans-serif;
    font-weight:200;
}
input[type='text'] { 
    min-width:1.8em;
    max-width:10em;
    text-align: end;

    background:none;
    font: 1em 'Yantramanav', sans-serif;
    font-weight:500;
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 0px 5px;
    letter-spacing: 0.05em;    

    border:1px #aaa solid;
    border-radius:3px;

    color:hsl(271, 100%, 47%) ;
}
input[type='text']:hover{ 
    animation-name: none;
    background:rgba(124, 0, 240, 10%);
    border:1px hsl(271, 100%, 47%) solid; 
}
input[type='text']:focus{ 
    animation-name: none;
    background:rgba(124, 0, 240, 10%);
    border:1px hsl(271, 100%, 47%) solid; 

    box-shadow: 0px 0px 3px 1px hsl(244, 100%, 50%);
    background:white;
}
input:not(:placeholder-shown) {
    animation-name: none;
}
input:not(:placeholder-shown):hover {
    animation-name: none;
}
input:placeholder-shown {
    animation-name: blink ;
    animation-duration: .7s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ; 
}
.container-result{
    text-align: center;
    align-self: start;
    justify-self: center;
    border-bottom: 2px hsl(271, 100%, 47%) solid;
    border-radius: 5px;
    margin:1em 0 2em 0;
}
.resultado-final{
    font: 1.5em 'Yantramanav', sans-serif;
    font-weight:400;
    padding:0 5px 0 5px;  
}
.xis{
    font-weight: 200;
}
@keyframes blink { 
    50% { 
        border:1px hsl(271, 100%, 50%) solid;
       /* background:hsla(271, 100%, 50%, 0.158); */
    } 
}
