.container-buttons{
    display:flex;
    align-self:end;
    position:relative;
    width:100%;
    bottom:0px;
    /* background: rgb(255, 255, 255);   */
    padding-top: 10px;
    max-width: 600px;
    /* border-radius: 0 0 10px 10px; */
}
.container-buttons button{
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: #3A3A3A;
    outline:none;
}
.container-buttons > button{
    font-size: 1.3em;
}
.centered-buttons{
    display:grid;
    margin: 0px 0px 32px 0px;
    flex-basis: 50%;
}
.btn-result{
    font-size: 1.1em;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.3em;
font-weight: 200;
height: 60px;
}
.btn-clear{
    /* align-self:flex-end; */
    /* height: 20px; */
    /* margin-top: 10px; */
    height: 40px;
    font-size: 1em;
margin-top: 10px;
font-weight: 200;
}
.btn-back{
    margin: 0px 10px 32px 32px;
    flex-basis: 25%;
}
.btn-front{
    margin: 0px 32px 32px 10px;
    flex-basis: 25%;
}
.btn:active:enabled{
    background:#ddd;
}
/* .btn:hover:enabled{
    border: 1px hsl(29, 100%, 62%)solid;
    color: rgb(174, 88, 255); 
} */
.container-buttons button:disabled{
    /* color: #ccc;
    border: 1px solid #555; */
    color: #eee;
    border: 1px solid #444;
    color: #444;
    background: #222;
}
@media (max-width: 800px){
    .container-buttons{
    position:fixed;
    border-radius: 0;
    }
}
/* @media (max-width: 500px){
    .centered-buttons{
    }
} */
@media (max-width: 300px){
    .centered-buttons{
        min-height: 8em;
    }
}
@media (max-width: 200px){
    .centered-buttons{
        width: 6em;
    }
}
