html,body{
    width: 100%;
    padding:0;
    margin:0;
    font-family: 'Yantramanav', sans-serif;
    /* height: 90%; */
/* position: relative; */
/* padding-top: 25px; */
}
html{
    height: 100%;
    background-color: #222;
}
body{
    height: 90%;
    margin-top: 5vh;
}
.club {
	display: grid;
    grid-template-rows: auto 1fr auto;
    max-width:600px;
    margin:auto;
    /* height: 100%; */
    min-height: 100%;
    border-radius: 10px;
    border: 3px solid #424242;
}

@media (max-width: 800px){
    html,body{
        height: 100%;
        padding:0;

    }
    body{
        margin-top: 0;
    }
.club {
    min-height: 100%;
    border-radius: 0;
    border:none;
}
footer {
    margin-top:198px;
}
}
@media (max-width: 500px){
    footer{
        margin-top:178px;
    }
    .club {
        margin:auto;
    }
}
@media (max-width: 300px){
    footer{
        margin-top:138px;
    }
}
@media (max-width: 200px){
    footer{
        margin-top:118px;
    }
}
